
/*a box that centers your content in the parent object */
#container {
background-color: gray;

float: left;

height: 500px;
width: 40%;

margin-top: 20px;
margin-left: 30%;
margin-right: 30%;

border: 7.5px solid black;
border-radius: 20px;

padding: 30px;

text-align: center;
}

#chatbox {
background-color: white;

float: left;
clear: both;

height: 200px;
width: 75%;

margin: 5%;
border: 7.5px solid black;
border-radius: 20px;

padding: 30px;

text-align: center;
}