/*a box that centers your content in the parent object */
#container {
background-color: gray;

float: left;

height: 700px;
width: 95%;

margin: auto;

border: 7.5px solid black;
border-radius: 20px;

padding: 20px;

text-align: center;
}

#chatbox {
background-color: white;


height: 90%;
width: 94%;

margin: auto;

border: 7.5px solid black;
border-radius: 20px;

padding: 20px;
text-align: center;
}

#i {
float: left;
width: 94%;
border-radius: 5px;
text-align: center;
}

#sendButton {
cursor: pointer;
background-color: lightblue;
border-radius: 5px;
float: left;
}

#sendButton:hover {
cursor: pointer;
background-color: cornflowerblue;
}

#form {
width: 100%;
padding-left: 0.5%;
float: left;
}