/*a box that centers your content in the parent object */
#container {
background-color: gray;

float: left;

height: 650px;
width: 40%;

/*margin-top: 20px;
margin-left: 30%;
margin-right: 30%;
*/

border: 7.5px solid black;
border-radius: 20px;

padding: 30px;

text-align: center;
}

#chatbox {
background-color: white;

float: left;
clear: both;

height: 500px;
width: 520px;

margin-top: 20px;
margin-left: 20px;
margin-right: 20px;
margin-bottom: 20px;

border: 7.5px solid black;
border-radius: 20px;

padding: 30px;

text-align: center;
}